---
import { commitHash } from "@/lib/version";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Health</title>
  </head>
  <body>
    <p>ok</p>
    <p>{commitHash}</p>
  </body>
</html>
